@CHARSET "ISO-8859-1";
#button
{
align:center;
}

body {
      animation: colorchange 30s;
      -webkit-animation: colorchange 30s; 
      animation-iteration-count: infinite;
     
    }

    @keyframes colorchange
    {
      0%   {background: turquoise;}
      25%  {background:  emerald;}
      50%  {background: light-blue;}
      75%  {background: pink;}
      100% {background: sea green;}
    }

table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  text-align: left;
  padding: 8px;
}

.button {
  background-color: #800080; 
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  float: right;
}	
	

tr:nth-child(even) {background-color: #f2f2f2;}